<h1>New Text Card</h1>

<h1><%= @picture_card.data_picture %></h1>

<%= simple_form_for [@stack, @card] do |f| %>
  <%= f.input :author %>
  <%= f.input :data_text %>

  <%= f.button :submit %>
<% end %>